<%- include("header") -%>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor 
    sit amet consectetur adipisicing elit. 
    Aliquam rerum et placeat minima pariatur
     maiores error deleniti aut blanditiis. 
     Odit laborum repellendus magni error 
    voluptatum quo obcaecati velit corporis itaque.</p>

    <%- include("footer") -%>